<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Document</title>
    </head>

    <body>
        <h1></h1>
        <div id="app">
            <ul>
                <li v-for="(member,index) in members">{{index}} : {{member.name}}
                    <span v-if="member.gender=='Female'">←這位是女孩</span>
                    <span v-else-if="member.gender=='Male'">←這位是男孩</span>
                    <span v-else>←性別未登記</span>
                </li>
            </ul>
        </div>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="script.js"></script>
    </body>

</html>